/* :root {
  --tester-border: solid 1px;
} */

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.quote-box {
  width: 40%;
  padding: 5px;
  border-radius: 3px;
  background-color: aliceblue;

  box-shadow: 4px 4px 3px rgb(49, 49, 49);

  display: flex;
  flex-direction: column;
  /* gap: 0px; */
  align-items: flex-end;
}

.quote-box__quote-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:left;
  width: 100%;

  border: var(--tester-border) green;
}

.quote-box__quote {
  text-align: center;
  font-size: 20px;
  margin-right: 10px;

  border: var(--tester-border) green;
}

.quote__ticks{
  font-size: 45px;
  border: var(--tester-border) green;
}

.quote-box__author {
  margin-right: 15px;
  font-size: 18px;
  font-style: italic;

  border: var(--tester-border) green;
}

.quote-box__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;

  border-radius: 50%;
  border: none;
  padding: 5px;
  
  font-size: 30px;
  color: white;
}